<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="BPS.Lite.Properties.Settings.bps_v1ConnectionString"
        connectionString="server=localhost;user id=root;database=bps_v1"
        providerName="MySql.Data.MySqlClient" />
    <add name="BPS.Lite.Properties.Settings.obenMas" connectionString="Dsn=BPS;uid=obenMas;pwd=Bopp2010"
        providerName="System.Data.Odbc" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
