<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="BPS.Properties.Settings.bps_v1ConnectionString" connectionString="server=localhost;user id=root;database=bps_v1" providerName="MySql.Data.MySqlClient" />
    <add name="BPS.Properties.Settings.OBEN" connectionString="Data Source=SRV-OPP-OBEN;Initial Catalog=obenmas_v1;Persist Security Info=True;User ID=ObenMas;Password=Bopp2010" providerName="System.Data.SqlClient" />
    <add name="BPS.Properties.Settings.obenBopp" connectionString="Dsn=BPS;uid=obenMas;pwd=Bopp2010" providerName="System.Data.Odbc" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>