<?xml version="1.0" encoding="utf-8" ?>
<config>
  <databaseConnection>
    <!--<server value="186.122.150.12" />-->
    <!--<server value="SRV-OPP-TEST"/>-->
    <server value="SRV-OPP-OBEN" />
    <!--<server value="AR0006" />-->
    <database value="obenmas_v1" />
    <!--<userName value="oben2" />-->
    <!--<password value="Opp2019" />-->
    <userName value="obenMas" />
    <password value="Bopp2010" />
  </databaseConnection>
</config>